# Application settings
APP_NAME=personal-data-lake-api
APP_ENV=development
APP_VERSION=0.1.0
APP_PORT=8000

# Optional root path for reverse proxy environments.
# Example for code-server proxy: /proxy/8000
APP_ROOT_PATH=